<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Left Sidebar - Horizons by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="left-sidebar">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<h1><a href="#" id="logo">Equipas</a></h1>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="resultados.html">Resultados</a></li>
								<li><a href="equipas.html">Equipas</a></li>
								<li><a href="right-sidebar.html">Quiz</a></li>
								<li><a href="no-sidebar.html">Pilotos</a></li>
							</ul>
						</nav>

				</div>
			</div>
		
			<div id="main" class="wrapper style1">
				<div class="container">		
					<h1>Formula 1 Teams</h1>			
					<table>
						<tr>
							<td>
								<br><br><br><h2>Ferrari</h2>
								<img src="./imagens/equipas/ferrari.jpg" width="210" height="100" align="left">
								<br>
								<h1>Plitos:</h1>
								Sebastian Vettel
								<br>
								Kimi Räikkönen
							</td>
							<td>
								<br>
								<img src="./imagens/carros/ferrari.jpg" width="713" height="400" hspace="20">
							</td>
						</tr>

						<tr><td>
							<br><br><br><h2>Mercedes</h2>
							<img src="./imagens/equipas/mercedes.jpg" width="210" height="100" align="left">
							<br>
							<h1>Plitos:</h1>
							Lewis  Hamilton
							<br>
							Valtteri  Bottas
							
						</td>
							<td>
								<br>
								<img src="./imagens/carros/mercedes.jpg" width="713" height="400" hspace="20"></td>
						</tr>

						<tr><td>
							<br><br><br>
							<h2>Mclaren</h2>
							<img src="./imagens/equipas/mclaren.jpg" width="210" height="100" align="left">
							<br>
							<h1>Plitos:</h1>
							Fernando  Alonso
							<br>
							Stoffel Vandoorne
							<br>
							
						</td>
							<td>
								<br>
								<img src="./imagens/carros/mclaren.jpg" width="713" height="400" hspace="20"></td>
						</tr>

						<tr><td>
							<br><br><br>
							<h2>Red Bull Racing</h2>
							<img src="./imagens/equipas/red_bull.jpg" width="210" height="100" align="left">
							<br>
							<h1>Plitos:</h1>
							Daniel  Ricciardo
							<br>
							Max Verstappen
							<br>
							
						</td>
							<td>
								<br>
								<img src="./imagens/carros/red_bull.jpg" hspace="20" width="713" height="400">
							</td>
						</tr>

						<tr>
							<td>
								<br><br><br>
								<h2>Renault</h2>
								<img src="./imagens/equipas/renault.jpg" width="210" height="100" align="left">
								<br>
								<h1>Plitos:</h1>
								Nico  Hulkenberg
								<br>
								Carlos Sainz
								<br>
								
							</td>
							<td>
								<br>
								<img src="./imagens/carros/renault.jpg" hspace="20" width="713" height="400">
							</td>
						</tr>

						<tr>
							<td>
								<br><br><br>
								<h2>Toro Rosso</h2>
								<img src="./imagens/equipas/toro.jpg" width="210" height="100" align="left">
								<br>
								<h1>Plitos:</h1>
								Pierre  Gasly
								<br>
								Brendon Hartley
								<br>
								
							</td>
							<td>
								<br>
								<img src="./imagens/carros/toro.jpg" width="713" height="400" hspace="20">
							</td>
						</tr>

						<tr><td>
							<br><br><br>
							<h2>Haas</h2>
							<img src="./imagens/equipas/haas.jpg" width="210" height="100" align="left">
							<br>
							<h1>Plitos:</h1>
							Romain  Grosjean
							<br>
							Kevin Magnussen
							<br>
							
						</td>
							<td>
								<br>
								<img src="./imagens/carros/haas.jpg" width="713" height="400" hspace="20"></td>
						</tr>

						<tr><td>
							<br><br><br>
							<h2>Sauber</h2>
							<img src="./imagens/equipas/sauber.jpg" width="210" height="100" align="left">
							<br>
							<h1>Plitos:</h1>
							Marcus  Ericsson
							<br>
							Charles Leclerc
							<br>
							

						</td>
							<td>
								<br>
								<img src="./imagens/carros/sauber.jpg" width="713" height="400" hspace="20"></td>
						</tr>

						<tr>
							<td>
								<br><br><br>
								<h2>Force India</h2>
								<img src="./imagens/equipas/force_india.jpg" width="210" height="100" align="left">
								<br>
								<h1>Plitos:</h1>
								Sergio  Perez
								<br>
								Esteban Ocon
								<br>
							
							</td>
							<td>
								<br>
								<img src="./imagens/carros/force_india.jpg" width="713" height="400" hspace="20"></td>
						</tr>

						<tr><td>
							<br><br><br>
							<h2>Williams</h2>
							<img src="./imagens/equipas/williams.jpg" width="210" height="100" align="left">
							<br>
							<h1>Plitos:</h1>
							Lance  Stroll
							<br>
							Sergey Sirotkin
							<br>
							
							<td>
								<br>
								<img src="./imagens/carros/williams.jpg" width="713" height="400" hspace="50"></td>
							
						</tr>
					</table>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Quisque semper augue mattis wisi maecenas ligula</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Mattis wisi maecenas ligula</span>
									</header>
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span>1234 Somewhere Road #4285 <br />Nashville, TN 00000</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="#">someone@untitled.tld</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>(000) 000-0000</span>
										</li>
									</ul>	
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
						</div>

				</div>
			</div>

	</body>
</html>