<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Fórmula 1 2017 Championship</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<a href="index.html"><img src="images/formula-1-logo.png" height="20%" width="30%" alt="Fórmula 1 2017 Championship"></a><br><br>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="resultados.html"><b>Resultados</b></a></li>
								<li><a href="equipas.html"><b>Equipas</b></a></li>
								<li><a href="pilotos.html"><b>Pilotos</b></a></li>
								<li><a href="quizz.html"><b>Quizz</b></a></li>
							</ul>
						</nav>


					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2></h2>
										<span class="byline">&hellip; a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit!</span>
									</header>
									<a href="#" class="button alt">Registar</a>
								</section>			
							</div>
						</div>

				</div>
			</div>

		<!-- Main -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>2017 FIA Fórmula 1 Campeonato do Mundo ® Calendário de Corridas</h2>
					</header>
					<div class="row no-collapse-1">
						<section class="4u"> <!-- 1º Corrida -->
							<a href="#" class="image feature"><img src="images/pic02.jpg" alt=""></a>
							<h5>24 -26 MAR</h5>
							<h4>2017 FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 2º Corrida -->
							<a href="#" class="image feature"><img src="images/pic03.jpg" alt=""></a>
							<h5>07 - 09 ABR</h5>
							<h4>2017 FORMULA 1 HEINEKEN CHINESE GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 3º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>14 - 16 ABR</h5>
							<h4>2017 FORMULA 1 GULF AIR BAHRAIN GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 4º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>28 - 30 ABR</h5>
							<h4>2017 FORMULA 1 VTB RUSSIAN GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 5º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>12 - 14 MAI</h5>
							<h4>FORMULA 1 GRAN PREMIO DE ESPAÑA PIRELLI 2017</h4>
						</section>

						<section class="4u"> <!-- 6º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>25 - 28 MAI</h5>
							<h4>FORMULA 1 GRAND PRIX DE MONACO 2017</h4>
						</section>

						<section class="4u"> <!-- 7º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>09 - 11 JUN</h5>
							<h4>FORMULA 1 GRAND PRIX DU CANADA 2017</h4>
						</section>

						<section class="4u"> <!-- 8º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>23 - 25 JUN</h5>
							<h4>2017 FORMULA 1 AZERBAIJAN GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 9º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>07 - 09</h5>
							<h4>FORMULA 1 GROSSER PREIS VON ÖSTERREICH 2017 </h4>
						</section>

						<section class="4u"> <!-- 10º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>14 - 16 JUL</h5>
							<h4>2017 FORMULA 1 ROLEX BRITISH GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 11º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>28 - 30 JUL</h5>
							<h4>FORMULA 1 PIRELLI MAGYAR NAGYDÍJ 2017</h4>
						</section>

						<section class="4u"> <!-- 12º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>25 -27 AGO</h5>
							<h4>2017 FORMULA 1 PIRELLI BELGIAN GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 13º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>01 - 03 SET</h5>
							<h4>FORMULA 1 GRAN PREMIO HEINEKEN D'ITALIA 2017</h4>
						</section>

						<section class="4u"> <!-- 14º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>14 - 17 SET</h5>
							<h4>2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 15º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>29 SET - 01 OUT</h5>
							<h4>2017 FORMULA 1 PETRONAS MALAYSIA GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 16º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>06 - 08 OUT</h5>
							<h4>2017 FORMULA 1 JAPANESE GRAND PRIX</h4>
						</section>

						<section class="4u"> <!-- 17º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>20 - 22 OUT</h5>
							<h4>2017 FORMULA 1 UNITED STATES GRAND PRIX</h4>
						</section> 

						<section class="4u"> <!-- 18º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>27 - 29 OUT</h5>
							<h4>FORMULA 1 GRAN PRÉMIO DE MÉXICO 2017</h4>
						</section> 

						<section class="4u"> <!-- 19º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>10 - 12 NOV</h5>
							<h4>FORMULA 1 GRANDE PRÉMIO HEINEKEN DO BRASIL 2017</h4>
						</section>

						<section class="4u"> <!-- 20º Corrida -->
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<h5>24 - 26 NOV</h5>
							<h4>2017 FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX</h4>
						</section>	
					</div>
				</section>
			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Quisque semper augue mattis wisi maecenas ligula</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Mattis wisi maecenas ligula</span>
									</header>
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span>1234 Somewhere Road #4285 <br />Nashville, TN 00000</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="#">someone@untitled.tld</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>(000) 000-0000</span>
										</li>
									</ul>	
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
						</div>

				</div>
			</div>

	</body>
</html>