<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Pilotos F1 2017</title>
		<link rel="icon" type="image/x-icon" href="images/f1-icon.png" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<a href="index.html"><img src="images/formula-1-logo.png" height="20%" width="30%" alt="Fórmula 1 2017 Championship"></a><br><br>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="resultados.html">Resultados</a></li>
								<li><a href="equipas.html">Equipas</a></li>
								<li><a href="pilotos.html">Pilotos</a></li>
								<li><a href="quizz.html">Quizz</a></li>
							</ul>
						</nav>


						<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2></h2>
										<span class="byline">Lista de pilotos concorrente no campeonato mundial de fórmula 1 </span>
									</header>
								</section>			
							</div>
						</div>

				</div>
			</div>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					
					<section>
						<header class="major">
							<h2>Pilotos</h2> 
							<br>
							<span class="byline">Sebastian Vettel</span>
						</header>
						<img src="images/sebastianvettel.jpg" width="170" height="250" align="left">
						<div id="justify">
						<p>Sebastian Vettel é um automobilista alemão, nasceu em 3 de julho de 1987. Em 2010, tornou-se o mais jovem campeão da história da Fórmula 1, correndo pela escuderia Red Bull, equipe campeã de construtores também na mesma temporada.No ano de 2011, conquistou o terceiro lugar no Grande Prêmio do Japão, o que foi suficiente para que se tornasse, aos 24 anos e 87 dias de idade, o mais jovem bicampeão da história da Fórmula 1. Em 25 de novembro de 2012, tornou-se o mais jovem tricampeão mundial da Fórmula 1 e, em 27 de outubro de 2013, tornou-se o mais jovem tetracampeão mundial da Fórmula 1, aos 26 anos de idade.</p>
						<br><br><br><br><br><br>
						<hr style="border: solid grey; border-width: 1px;">
						<header class="major">
						<span class="byline">Kimi Räikkönen</span>
						</header>


						</div>
					</section>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Quisque semper augue mattis wisi maecenas ligula</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Mattis wisi maecenas ligula</span>
									</header>
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span>1234 Somewhere Road #4285 <br />Nashville, TN 00000</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="#">someone@untitled.tld</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>(000) 000-0000</span>
										</li>
									</ul>	
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
						</div>

				</div>
			</div>

	</body>
</html>