<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
</head>
<body>
<form action="quiz.php" method="POST">
	<h3>Quiz Formula</h3>
	Quem foi o vencedor do Campeonato do Mundo de F1 do ano 2017 : <br>
	<input type="radio" name="pergunta1" value="r1"> Lewis Hamilton X<br>
    <input type="radio" name="pergunta1" value="r2"> Sebastian Vettel<br>
    <input type="radio" name="pergunta1" value="r3"> Fernando Alonso<br>
    <input type="radio" name="pergunta1" value="r4"> Daniel Ricciardo<br><br><br><br>
    Que piloto terminou na sexta posição na Corrida em Barcelona : <br>
	<input type="radio" name="pergunta2" value="r1"> Carlos Sainz<br>
    <input type="radio" name="pergunta2" value="r2"> Nico Hulkenberg X<br>
    <input type="radio" name="pergunta2" value="r3"> Jolyon Palmer<br>
    <input type="radio" name="pergunta2" value="r4"> Daniil Kyvat<br><br><br><br>
    Quem é este piloto : <br>
	<br><br><img src="images/carlossainz.jpg" height="200" width="170" align="left"></img> <br><br>
	<br><br><br><br><br><br><br><br><br><br>
	<input type="radio" name="pergunta3" value="r1"> Esteban Ocon<br>
    <input type="radio" name="pergunta3" value="r2"> Fernando Alonso<br>
    <input type="radio" name="pergunta3" value="r3"> Romain Grosjean<br>
    <input type="radio" name="pergunta3" value="r4"> Carlos Sainz Jr X<br><br><br><br>	
	Porque que  o piloto Daniil Kyvat esteve em Problemas no Inicio da Corrida em Montreal : <br> 	
	<input type="radio" name="pergunta4" value="r1"> Ultrapassou carros ilegalmente na linha de começo<br>
    <input type="radio" name="pergunta4" value="r2"> Causou 1 colisão na primeira curva<br>
    <input type="radio" name="pergunta4" value="r3"> Começou antes do sinal de partida X<br><br><br><br>
    Na corrida de Baku Lance Stroll tornou-se o mais jovem a : 
    <input type="radio" name="pergunta5" value="r1"> Marcar 1 ponto no campeonato do mundo<br>
    <input type="radio" name="pergunta5" value="r2"> Acabar no Podio X<br>
    <input type="radio" name="pergunta5" value="r3"> Começar nos primeiros lugares da linha de partida<br><br><br><br>
    Williams tornou-se uma das quatras equipa a realizar o quê em Monza(Itália)?<br>
    <input type="radio" name="pergunta6" value="r1"> Ganhar 1 Grande Prémio<br>
    <input type="radio" name="pergunta6" value="r2"> Saiu da Pole Position<br>
    <input type="radio" name="pergunta6" value="r3"> Começou no primeiro lugar na linha de partida X<br><br><br><br>
    Na corrida de Singapore quais dois pilotos registaram os seus melhores resultados da carreira<br>
    <input type="radio" name="pergunta7" value="r1"> Carlos Sainz e Daniil Kyvat<br>
    <input type="radio" name="pergunta7" value="r2"> Carlos Sainz e Jolyon Palmer X<br>
    <input type="radio" name="pergunta7" value="r3"> Daniil Kyvat Jolyon Palmer<br>
    <br><br>De quem é este capacete: <br><br><br>
    <br><img src="images/capacete.jpg" height="200" width="190" align="left"></img>
    <br><br><br><br><br><br><br><br><br><br><br><br>
   	<input type="radio" name="pergunta8" value="r1"> Valtteri Bottas X<br>
    <input type="radio" name="pergunta8" value="r2"> Antonio Giovinazzi<br>
    <input type="radio" name="pergunta8" value="r3"> Lance Stroll<br>
    Quem ficou em ultimo lugar no Campeonato do Mundo de F1<br>
    <input type="radio" name="pergunta9" value="r1"> Brendon Hartley X<br>
    <input type="radio" name="pergunta9" value="r2"> Antonio Giovinazzi<br>
    <input type="radio" name="pergunta9" value="r3"> Pierre Gasly<br>
    Qual foi a primeira corrida do Campeonato de Formula1 de 2017<br>
    <input type="radio" name="pergunta9" value="r1"> Brasil<br>
    <input type="radio" name="pergunta9" value="r2"> Monaco<br>
    <input type="radio" name="pergunta9" value="r3"> Austrália X<br>


	
</form>
</body>
</html>