<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Left Sidebar - Horizons by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="left-sidebar">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<h1><a href="#" id="logo">Equipas</a></h1>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="resultados.html">Resultados</a></li>
								<li><a href="equipas.html">Equipas</a></li>
								<li><a href="right-sidebar.html">Quiz</a></li>
								<li><a href="no-sidebar.html">Pilotos</a></li>
							</ul>
						</nav>

				</div>
			</div>
		
			<div id="main" class="wrapper style1">
				<div class="container">		
                    <h1>Classificações</h1>
                    <br>			
					<table class="table table-bordered" >
                        <tr>
                            <th></th>
                            <th>Austrália</th>
                            <th>China</th>
                            <th>Bahrain</th>
                            <th>Russia</th>
                            <th>Espanha</th>
                            <th>Monaco</th>
                            <th>Canada</th>
                            <th>Azerbeijão</th>
                            <th>Austria</th>
                            <th>Inglaterra</th>
                            <th>Hungria</th>
                            <th>Belgica</th>
                            <th>Itália</th>
                            <th>Singapura</th>
                            <th>Malásia</th>
                            <th>Japão</th>
                            <th>USA</th>
                            <th>México</th>
                            <th>Brasil</th>
                            <th>Dubai</th>
                            <th>Classificação Final</th>
                        </tr>
                
                        <tr>
                            <td>Sebastian Vettel</td>
                            <td>25</td>
                            <td>43</td>
                            <td>68</td>
                            <td>86</td>
                            <td>104</td>
                            <td>129</td>
                            <td>129</td>
                            <td>143</td>
                            <td>158</td>
                            <td>164</td>
                            <td>189</td>
                            <td>207</td>
                            <td>222</td>
                            <td>222</td>
                            <td>244</td>
                            <td>244</td>
                            <td>262</td>
                            <td>282</td>
                            <td>307</td>
                            <td>322</td>
                            <td>322</td>
                        </tr>
                
                        <tr>
                            <td>Lewis Hamilton</td>
                            <td>18</td>
                            <td>43</td>
                            <td>61</td>
                            <td>73</td>
                            <td>98</td>
                            <td>104</td>
                            <td>104</td>
                            <td>114</td>
                            <td>126</td>
                            <td>151</td>
                            <td>163</td>
                            <td>188</td>
                            <td>213</td>
                            <td>238</td>
                            <td>256</td>
                            <td>281</td>
                            <td>306</td>
                            <td>308</td>
                            <td>320</td>
                            <td>338</td>
                            <td>338</td>
                        </tr>
                
                        <tr>
                            <td>Valtteri Bottas</td>
                            <td>15</td>
                            <td>23</td>
                            <td>38</td>
                            <td>63</td>
                            <td>63</td>
                            <td>75</td>
                            <td>75</td>
                            <td>98</td>
                            <td>123</td>
                            <td>141</td>
                            <td>166</td>
                            <td>176</td>
                            <td>194</td>
                            <td>209</td>
                            <td>219</td>
                            <td>231</td>
                            <td>241</td>
                            <td>259</td>
                            <td>277</td>
                            <td>302</td>
                            <td>302</td>
                        </tr>
                
                        <tr>
                            <td>Kimi Raikkonen</td>
                            <td>12</td>
                            <td>22</td>
                            <td>34</td>
                            <td>49</td>
                            <td>49</td>
                            <td>67</td>
                            <td>67</td>
                            <td>67</td>
                            <td>77</td>
                            <td>92</td>
                            <td>110</td>
                            <td>122</td>
                            <td>132</td>
                            <td>132</td>
                            <td>132</td>
                            <td>142</td>
                            <td>157</td>
                            <td>172</td>
                            <td>187</td>
                            <td>199</td>
                            <td>199</td>
                        </tr>
                
                        <tr>
                            <td>Max Verstappen</td>
                            <td>10</td>
                            <td>25</td>
                            <td>25</td>
                            <td>35</td>
                            <td>35</td>
                            <td>45</td>
                            <td>45</td>
                            <td>45</td>
                            <td>45</td>
                            <td>67</td>
                            <td>77</td>
                            <td>77</td>
                            <td>78</td>
                            <td>78</td>
                            <td>103</td>
                            <td>121</td>
                            <td>132</td>
                            <td>157</td>
                            <td>167</td>
                            <td>177</td>
                            <td>177</td>
                        </tr>
                
                        <tr>
                            <td>Felipe Massa</td>
                            <td>8</td>
                            <td>8</td>
                            <td>16</td>
                            <td>18</td>
                            <td>18</td>
                            <td>20</td>
                            <td>20</td>
                            <td>20</td>
                            <td>22</td>
                            <td>23</td>
                            <td>23</td>
                            <td>27</td>
                            <td>31</td>
                            <td>31</td>
                            <td>33</td>
                            <td>34</td>
                            <td>36</td>
                            <td>36</td>
                            <td>42</td>
                            <td>43</td>
                            <td>43</td>
                        </tr>
                
                        <tr>
                            <td>Sergio Perez</td>
                            <td>6</td>
                            <td>8</td>
                            <td>14</td>
                            <td>22</td>
                            <td>34</td>
                            <td>34</td>
                            <td>34</td>
                            <td>34</td>
                            <td>40</td>
                            <td>42</td>
                            <td>46</td>
                            <td>46</td>
                            <td>48</td>
                            <td>58</td>
                            <td>66</td>
                            <td>72</td>
                            <td>76</td>
                            <td>82</td>
                            <td>84</td>
                            <td>90</td>
                            <td>90</td>
                        </tr>
                
                        <tr>
                            <td>Carlos Sainz</td>
                            <td>4</td>
                            <td>10</td>
                            <td>10</td>
                            <td>11</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>
                            <td>21</td>
                            <td>21</td>
                            <td>21</td>
                            <td>27</td>
                            <td>28</td>
                            <td>28</td>
                            <td>40</td>
                            <td>40</td>
                            <td>40</td>
                            <td>40</td>
                            <td>40</td>
                            <td>40</td>
                            <td>40</td>
                            <td>40</td>
                        </tr>
                
                        <tr>
                            <td>Daniil Kvyat</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                
                        <tr>
                            <td>Esteban Ocon</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>9</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>27</td>
                            <td>31</td>
                            <td>35</td>
                            <td>37</td>
                            <td>39</td>
                            <td>47</td>
                            <td>48</td>
                            <td>49</td>
                            <td>57</td>
                            <td>65</td>
                            <td>75</td>
                            <td>75</td>
                            <td>79</td>
                            <td>79</td>
                        </tr>
                
                        <tr>
                            <td>Nico Hulkenberg</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>6</td>
                            <td>14</td>
                            <td>14</td>
                            <td>14</td>
                            <td>14</td>
                            <td>14</td>
                            <td>22</td>
                            <td>22</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>38</td>
                            <td>38</td>
                        </tr>
                
                        <tr>
                            <td>Antonio Giovinazzi</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                
                        <tr>
                            <td>Stoffel Vandoorne</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>7</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                        </tr>
                
                        <tr>
                            <td>Fernando Alonso</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>11</td>
                            <td>15</td>
                            <td>17</td>
                            <td>17</td>
                        </tr>
                        
                        <tr>
                            <td>Kevin Magnussen</td>
                            <td>0</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>5</td>
                            <td>11</td>
                            <td>11</td>
                            <td>11</td>
                            <td>11</td>
                            <td>11</td>
                            <td>11</td>
                            <td>11</td>
                            <td>11</td>
                            <td>15</td>
                            <td>15</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                        </tr>
                        
                        <tr>
                            <td>Lance Stroll</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>15</td>
                            <td>16</td>
                            <td>16</td>
                            <td>16</td>
                            <td>16</td>
                            <td>22</td>
                            <td>26</td>
                            <td>30</td>
                            <td>34</td>
                            <td>34</td>
                            <td>42</td>
                            <td>42</td>
                            <td>42</td>
                            <td>42</td>
                        </tr>
                        
                        <tr>
                            <td>Daniel Ricciardo</td>
                            <td>0</td>
                            <td>12</td>
                            <td>22</td>
                            <td>22</td>
                            <td>37</td>
                            <td>52</td>
                            <td>52</td>
                            <td>77</td>
                            <td>92</td>
                            <td>102</td>
                            <td>102</td>
                            <td>127</td>
                            <td>139</td>
                            <td>157</td>
                            <td>172</td>
                            <td>187</td>
                            <td>187</td>
                            <td>187</td>
                            <td>195</td>
                            <td>195</td>
                            <td>195</td>
                        </tr>
                
                        <tr>
                            <td>Marcus Ericsson</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                
                        <tr>
                            <td>Jolyon Palmer</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                
                        <tr>
                            <td>Romain Grosjean</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>9</td>
                            <td>9</td>
                            <td>9</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>21</td>
                            <td>21</td>
                            <td>23</td>
                            <td>23</td>
                            <td>25</td>
                            <td>25</td>
                            <td>25</td>
                            <td>25</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                    </table>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Quisque semper augue mattis wisi maecenas ligula</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Mattis wisi maecenas ligula</span>
									</header>
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span>1234 Somewhere Road #4285 <br />Nashville, TN 00000</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="#">someone@untitled.tld</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>(000) 000-0000</span>
										</li>
									</ul>	
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
						</div>

				</div>
			</div>

	</body>
</html>